{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Visufy</title>
	<link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="static/libgif.js"></script>
    <script src="static/rubbable.js"></script>
    <script src="static/GifMovie.js"></script>
</head>
<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" />

{% block content %}
<body>
	<section class="jumbotron text-xs-center" id="gradient">
		<p class="glip">GLIP</p>
		<p class="spotifylogo"><img src="{% static 'btn_connectspotify.png' %}" alt="spotify"></p>
		<div class="container">
			<h1>Music Visually</h1>
			<h2>Enjoy your music with lit gifs!</p>
			<input id="query" />
            <input id="generate_video" type="submit" value="Generate" />
			<script>
			$("#generate_video").click(function(){
				$.get("/search", {search: $('#query').val()}, function(data, status){
					console.log(data)
					var gifMovie = new GifMovie("#gifcontainer", data.gifs, data.uri);
				});
			});
			</script>
      </div>
	  <div id="gifcontainer">TODO Remove text</div>
    </section>

    <script src="static/index.js"></script>
</body>
{% endblock %}
