
.glip {
    font-family: 'Baloo Bhaina', cursive;
    font-size: 60px;
    text-align: left;
}

.spotifylogo {
    font-family: 'Baloo Bhaina', cursive;
    font-size: 60px;
    text-align: right;
}
